@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  /* Primary colors */
  --intro-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonial-bg: hsl(219, 30%, 18%);
  /* Secundary colors */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  /* Neutral color */
  --white: hsl(0, 0%, 100%);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

body p {
  font-family: 'Open Sans', sans-serif;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}