@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  /* Primary colors */
  --intro-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --testimonial-bg: hsl(219, 30%, 18%);
  --footer-bg: hsl(216, 53%, 9%);
  /* Secundary colors */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  /* Neutral color */
  --white: hsl(0, 0%, 100%);
}

/* Resert CSS */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: var(--white);
}

body h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body a {
  color: var(--white);
  text-decoration: none;
}

body ul,
li {
  list-style: none;
}

body figure {
  margin: 0;
  padding: 0;
}

body input,
button {
  outline: none;
}

/* End of reset */

body {
  background-color: var(--main-bg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 40px;
  background-color: var(--intro-bg);
}

header figure img {
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 200px;
  height: 30px;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.header-nav li a:hover {
  text-decoration: underline;
}

.header-nav li:nth-of-type(1),
li:nth-of-type(2) {
  padding-right: 12px;
}

.intro {
  padding: 30px;
  background-color: var(--intro-bg);
  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 60%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-image-bg img {
  min-width: 300px;
  height: 250px;
}

.intro-description {
  text-align: center;
}

.intro-description h2 {
  font-size: 25px;
}

.intro-button {
  margin-top: 15px;
}

.intro-button button {
  min-width: 300px;
  height: 55px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.product-details-container {
  max-width: 600px;
  margin: 0 auto;
}

.product-details-content {
  margin: 100px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stay-productive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
}

.stay-productive-container figure img {
  height: 250px;
  margin: 120px 0 30px 0;
}

.stay-productive-description {
  justify-content: flex-start;
  text-align: left;
}

.stay-productive-description h3 {
  font-size: 19px;
}

.stay-productive-link {
  display: inline-block;
  width: 160px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--cyan);
}

.stay-productive-link a {
  position: relative;
  word-spacing: 2px;
  color: var(--cyan);
}

.stay-productive-link a span img {
  position: absolute;
  top: -1px;
  right: -27px;
  min-width: 20px;
}

.testimonial-container {
  margin: 100px 20px 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-card {
  position: relative;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 200px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: var(--testimonial-bg);
}

.testimonial-card figure img {
  position: absolute;
  top: -8%;
  left: 3%;
  width: 35px;
}

.testimonial-card blockquote {
  margin: 0 0 15px 0;
  line-height: 20px;
}

.testimonial-person {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.testimonial-person img {
  width: 50px;
  border-radius: 50%;
}

.person-name-role {
  margin: 5px 0 0 10px;
}

.person-name-role p {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.early-access-container {
  height: 200px;
  padding: 100px 20px 0 20px;
}

.early-access-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-color: var(--main-bg);
  box-shadow: 0px 0px 5px 1px #00000059;
}

.early-access-description {
  padding: 20px;
}

.early-access-card h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.early-access-card p {
  margin-bottom: 25px;
}

.early-access-form input {
  min-width: 200px;
  max-width: 70%;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  color: var(--white);
}

.early-access-form input:nth-of-type(2) {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--blue);
  cursor: pointer;
}

::placeholder {
  padding-left: 20px;
}

footer {
  padding: 22em 2em 1em 2em;
  background-color: var(--footer-bg);
}

.footer-container {
  max-width: 600px;
  margin: 0 auto;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
}

.footer-location {
  display: inherit;
}

.footer-location p {
  margin: 0;
  padding-left: 25px;
}

.footer-location img {
  width: fit-content;
  height: fit-content;
  padding-top: 5px;
}

.footer-info-contact .phone-number {
  margin: 15px 0;
}

.footer-info-contact .phone-number span,
.email-contact span {
  padding-left: 15px;
}

.footer-links {
  margin-top: 30px;
}

.footer-links nav ul {
  line-height: 35px;
  padding: 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social-icons {
  display: inherit;
  justify-content: center;
  margin-top: 25px;
}

.footer-social-icons .fa-facebook,
.fa-twitter,
.fa-instagram {
  font-size: 20px;
}

.footer-social-icons .fa-facebook,
.fa-twitter {
  padding-right: 15px;
}

.footer-attribution {
  margin-top: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  text-decoration: underline;
}
